<!DOCTYPE html>

<% if logged_in? %>
  <script type="text/javascript">
      window.currentUser =
        <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  </script>
<% end %>

<html>
  <head>
    <title>AirCnC</title>
    <%= favicon_link_tag image_url('favicon-32x32.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag 'application', media: 'screen and (min-device-width: 800px)' %> %>
    <%= stylesheet_link_tag '800', media: 'screen and (max-device-width: 799px)' %>
    
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      window.backgroundUrl = "<%= image_url('background.jpg') %>";
      window.logoUrl = "<%= image_url('favicon-32x32.png') %>";
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
